/* Animations */
#produccion {
  width: 100%;
  height: 0%;
  opacity: 0;
  background: #6fff74;
  position: relative;
  -webkit-animation: mymove3 1s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove3 1s;
  animation-fill-mode: forwards;
  animation-iteration-count:infinite;
}

/* Safari 4.0 - 8.0
@-webkit-keyframes mymove {
}
*/

@keyframes mymove {
  0%   {width: 0%;}
  100% {width: 100%;}
}

#flow2 {
    width: 0%;
    height: 9px;
    background: #e65b5b;
    border-radius: 0px 0px 20px 10px;
    position: relative;
    -webkit-animation: mymove2 1s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove2 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;
}

@keyframes mymove3 {
0%   {top: 0px; opacity: 1;}
100% {top: 0px; height: 100%;}
}

#almacen {
  width: 100%;
  height: 0%;
  opacity: 0;
  background: #5be660;
  position: relative;
  -webkit-animation: mymove3 1s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation: mymove3 1s;
  animation-fill-mode: forwards;
  animation-iteration-count:infinite;
}

@keyframes mymove3 {
0%   {top: 0px; opacity: 1;}
100% {top: 0px; height: 100%;}
}

#casa {
    width: 100%;
    height: 0px;
    opacity: 0;
    background: #4b83cd;
    position: relative;
    -webkit-animation: mymove4 1.5s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove4 1s;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
}

@keyframes mymove4 {
  0%   {top: 0px; height: 100%;}
  100% {top: 0px; opacity: 1;}
}


/* STYLE */
body {
  overflow-x: hidden;
  background-color: #e4e5e6;
  background-image: url("../img/aurora.png");
}

#logo {
   -webkit-filter: invert(1);
   filter: invert(1);
   }

.indicador {
  font-size: 0.8rem;
}

.cst-navbar {
  background-color: white !important;
  border-bottom: 1px solid #c2cfd6;
}

.cst-navbar-toggler {
  border-radius: 0;
  margin-left: 30px;
  border-color: rgba(0, 0, 0, 0) !important;
}

.cst-card-footer {
  height: 25px;
  padding: 0px;
  border-radius: 0px !important;
}

.cst-out-p {
  background-color: #4bcd50;
}

.cst-out-n {
  background-color: #cd4b4b;
}

.cst-stop {
  background-color: #cdc04b;
}

.cst-in {
  background-color: #5b96e6;
}

.cst-card {
  border-radius: 0;
  margin-bottom: 20px;
  background-color: rgba(125, 125, 125, 0.5) !important;
}

.cst-breadcrumb {
  background-color: white;
  border-bottom: 1px solid #c2cfd6;
  border-radius: 0;
}

.nav-empresa {
  line-height: 48px;
  background-color: #1ba1e2;
  color: white !important;
}

.empresa {
  text-align: center;
  text-indent: 0px !important;
  border-bottom: 1px solid #25273d;
}


/* -- NAVBAR --*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 200px;
  width: 0;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  background: #29363d;
  border-right: 1px solid
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 200px;
}

#page-content-wrapper {
  width: 100%;
  /*position: absolute;*/
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  /*position: absolute;*/
  margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 42px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #1ba1e2;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  text-indent: 0px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
